<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
 	<div id="sonuc"></div>
 	<br/><br/>
	<form class="form-horizatal" id="formId" action="">
		<input type="text" id="kullaniciadi">
		<input type="text" id="sifre">
		
		<button type="submit" id="gonder">Ajax Req Gonder</button>
	</form>
	
	
		
	<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/ajax.js"></script>
</body>

</html>